
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    @* <img alt="image" class="rounded-circle" src="~/inspinia-gh-pages/img/profile_small.jpg" /> *@
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">@ViewBag.adminname</span>
                        <span class="text-muted text-xs block">Admin Paneli</span>
                    </a>
                    
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li>
                <a href="/Admin/Widget/Index"><i class="fa fa-user"></i> <span class="nav-label">Dashboard</span> </a>
            </li>
         
        
            <li>
                <a href="/Admin/Employee/EmployeeInfo"><i class="fa fa-user"></i> <span class="nav-label">Çalışanlar</span> </a>
            </li>
            <li>
                <a href="/Admin/Branch/BranchList"><i class="fa fa-user"></i> <span class="nav-label">Şubeler</span>  </a>
            </li>
            <li>
                <a href="/Admin/Appointment/AppointmentList"><i class="fa fa-group"></i> <span class="nav-label">Randevular</span>  </a>
            </li>
       
       
          
           
            
            
                   
        </ul>

    </div>
</nav>